<!DOCTYPE html>

<html>
    <head>
	<link  rel="stylesheet" href="/static/style.css">
	<title>blog</title>
    </head>
    <body>
	<a href="/blog" class="main-title">blog</a>
	<a href="/blog/newpost" class="body">make new post</a><br><br>
	
	{% for entry in posts %}
			<div class="post">
			<div class="post-heading">
				<div class="post-title">{{entry.subject}}</div>
				<div class="post-date">{{entry.created.strftime("%b %d, %Y")}}</div>
			</div>
			<div class="post-content">{{entry.content}}</div>
		</div>
	{% endfor %}
    </body>
</html>

