<!DOCTYPE html>

<html>
    <head>
	<link  rel="stylesheet" href="/static/style.css">
	<title>newpost</title>
    </head>
    <body>
	<a href="/blog" class="main-title">newpost</a>	    
	<form method="post">
		<label>
			<div>subject</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		<label>
			<div>content</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<div class="error">{{error}}</div>
		<input type="submit">
	</form>
	
    </body>
</html>


